@font-face {
  font-family: 'iconos';
  src:  url('iconos-inoloop.eot');
  src:  url('iconos-inoloop.eot') format('embedded-opentype'),
    url('iconos-inoloop.ttf') format('truetype'),
    url('iconos-inoloop.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-actualizar:before {
  content: "\e900";
  
}
.icon-actualizar-circulo:before {
  content: "\e901";
  
}
.icon-actualizar-cuadrado:before {
  content: "\e902";
  
}
.icon-ademas:before {
  content: "\e903";
  
}
.icon-ademas-circulo:before {
  content: "\e904";
  
}
.icon-ademas-cuadrado:before {
  content: "\e905";
  
}
.icon-ajuste:before {
  content: "\e906";
  
}
.icon-ajuste-circulo:before {
  content: "\e907";
  
}
.icon-ajuste-cuadrado:before {
  content: "\e908";
  
}
.icon-behance:before {
  content: "\e909";
  
}
.icon-behance-circulo:before {
  content: "\e90a";
  
}
.icon-behance-cuadrado:before {
  content: "\e90b";
  
}
.icon-busqueda:before {
  content: "\e90c";
  
}
.icon-busqueda-circulo:before {
  content: "\e90d";
  
}
.icon-busqueda-cuadrado:before {
  content: "\e90e";
  
}
.icon-calendario:before {
  content: "\e90f";
  
}
.icon-calendario-circulo:before {
  content: "\e910";
  
}
.icon-calendario-cuadrado:before {
  content: "\e911";
  
}
.icon-campana:before {
  content: "\e912";
  
}
.icon-campana-circulo:before {
  content: "\e913";
  
}
.icon-campana-cuadrado:before {
  content: "\e914";
  
}
.icon-carrito:before {
  content: "\e915";
  
}
.icon-carrito-circulo:before {
  content: "\e916";
  
}
.icon-carrito-cuadrado:before {
  content: "\e917";
  
}
.icon-celular:before {
  content: "\e918";
  
}
.icon-celular-circulo:before {
  content: "\e919";
  
}
.icon-celular-cuadrado:before {
  content: "\e91a";
  
}
.icon-check:before {
  content: "\e91b";
  
}
.icon-check-circulo:before {
  content: "\e91c";
  
}
.icon-check-cuadrado:before {
  content: "\e91d";
  
}
.icon-circulo:before {
  content: "\e91e";
  
}
.icon-circulo-circulo:before {
  content: "\e91f";
  
}
.icon-circulo-cuadrado:before {
  content: "\e920";
  
}
.icon-clip:before {
  content: "\e921";
  
}
.icon-clip-cuadrado:before {
  content: "\e922";
  
}
.icon-compartir:before {
  content: "\e923";
  
}
.icon-compartir-circulo:before {
  content: "\e924";
  
}
.icon-compartir-cuadrado:before {
  content: "\e925";
  
}
.icon-corazon:before {
  content: "\e926";
  
}
.icon-corazon-circulo:before {
  content: "\e927";
  
}
.icon-corazon-cuadrado:before {
  content: "\e928";
  
}
.icon-correo:before {
  content: "\e929";
  
}
.icon-correo-circulo:before {
  content: "\e92a";
  
}
.icon-correo-cuadrado:before {
  content: "\e92b";
  
}
.icon-cruz:before {
  content: "\e92c";
  
}
.icon-cruz-circulo:before {
  content: "\e92d";
  
}
.icon-cruz-cuadrado:before {
  content: "\e92e";
  
}
.icon-descarga:before {
  content: "\e92f";
  
}
.icon-descarga-cuadrado:before {
  content: "\e930";
  
}
.icon-descargar-circulo:before {
  content: "\e931";
  
}
.icon-detalle:before {
  content: "\e932";
  
}
.icon-detalle-circulo:before {
  content: "\e933";
  
}
.icon-detalle-cuadrado:before {
  content: "\e934";
  
}
.icon-editar:before {
  content: "\e935";
  
}
.icon-editar-circulo:before {
  content: "\e936";
  
}
.icon-editar-cuadrado:before {
  content: "\e937";
  
}
.icon-eliminar:before {
  content: "\e938";
  
}
.icon-eliminar-circulo:before {
  content: "\e939";
  
}
.icon-eliminar-cuadrado:before {
  content: "\e93a";
  
}
.icon-engranaje:before {
  content: "\e93b";
  
}
.icon-engranaje-circulo:before {
  content: "\e93c";
  
}
.icon-engranaje-cuadrado:before {
  content: "\e93d";
  
}
.icon-entrar:before {
  content: "\e93e";
  
}
.icon-entrar-circulo:before {
  content: "\e93f";
  
}
.icon-entrar-cuadrado:before {
  content: "\e940";
  
}
.icon-enviar:before {
  content: "\e941";
  
}
.icon-enviar-circulo:before {
  content: "\e942";
  
}
.icon-enviar-cuadrado:before {
  content: "\e943";
  
}
.icon-equis:before {
  content: "\e944";
  
}
.icon-equis-circulo:before {
  content: "\e945";
  
}
.icon-equis-cuadrado:before {
  content: "\e946";
  
}
.icon-f-abajo:before {
  content: "\e947";
  
}
.icon-f-abajo-circulo:before {
  content: "\e948";
  
}
.icon-f-abajo-cuadrado:before {
  content: "\e949";
  
}
.icon-facebook:before {
  content: "\e94a";
  
}
.icon-facebook-circulo:before {
  content: "\e94b";
  
}
.icon-facebook-cuadrado:before {
  content: "\e94c";
  
}
.icon-f-arriba:before {
  content: "\e94d";
  
}
.icon-f-arriba-circulo:before {
  content: "\e94e";
  
}
.icon-f-arriba-cuadrado:before {
  content: "\e94f";
  
}
.icon-f-derecha:before {
  content: "\e950";
  
}
.icon-f-derecha-circulo:before {
  content: "\e951";
  
}
.icon-f-derecha-cuadrado:before {
  content: "\e952";
  
}
.icon-f-izquierda:before {
  content: "\e953";
  
}
.icon-f-izquierda-circulo:before {
  content: "\e954";
  
}
.icon-f-izquierda-cuadrado:before {
  content: "\e955";
  
}
.icon-fle-abajo:before {
  content: "\e956";
  
}
.icon-fle-abajo-circulo:before {
  content: "\e957";
  
}
.icon-fle-abajo-cuadrado:before {
  content: "\e958";
  
}
.icon-fle-arriba:before {
  content: "\e959";
  
}
.icon-fle-arriba-circulo:before {
  content: "\e95a";
  
}
.icon-fle-arriba-cuadrado:before {
  content: "\e95b";
  
}
.icon-flecha-derecha:before {
  content: "\e95c";
  
}
.icon-flecha-derecha-circulo:before {
  content: "\e95d";
  
}
.icon-flecha-derecha-cuadrado:before {
  content: "\e95e";
  
}
.icon-flecha-izquierda:before {
  content: "\e95f";
  
}
.icon-flecha-izquierda-circulo:before {
  content: "\e960";
  
}
.icon-flecha-izquierda-cuadrado:before {
  content: "\e961";
  
}
.icon-fle-derecha:before {
  content: "\e962";
  
}
.icon-fle-derecha-circulo:before {
  content: "\e963";
  
}
.icon-fle-derecha-cuadrado:before {
  content: "\e964";
  
}
.icon-fle-izquierda:before {
  content: "\e965";
  
}
.icon-fle-izquierda-circulo:before {
  content: "\e966";
  
}
.icon-fle-izquierda-cuadrado:before {
  content: "\e967";
  
}
.icon-guion:before {
  content: "\e968";
  
}
.icon-guion-circulo:before {
  content: "\e969";
  
}
.icon-guion-cuadrado:before {
  content: "\e96a";
  
}
.icon-informacion:before {
  content: "\e96b";
  
}
.icon-informacion-circulo:before {
  content: "\e96c";
  
}
.icon-informacion-cuadrado:before {
  content: "\e96d";
  
}
.icon-inicio:before {
  content: "\e96e";
  
}
.icon-inicio-circulo:before {
  content: "\e96f";
  
}
.icon-inicio-cuadrado:before {
  content: "\e970";
  
}
.icon-instagram:before {
  content: "\e971";
  
}
.icon-instagram-circulo:before {
  content: "\e972";
  
}
.icon-instagram-cuadrado:before {
  content: "\e973";
  
}
.icon-link:before {
  content: "\e974";
  
}
.icon-link-circulo:before {
  content: "\e975";
  
}
.icon-link-circulo_1:before {
  content: "\e976";
  
}
.icon-link-cuadrado:before {
  content: "\e977";
  
}
.icon-linkedin:before {
  content: "\e978";
  
}
.icon-linkedin-circulo:before {
  content: "\e979";
  
}
.icon-linkedin-cuadrado:before {
  content: "\e97a";
  
}
.icon-messenger:before {
  content: "\e97b";
  
}
.icon-messenger-circulo:before {
  content: "\e97c";
  
}
.icon-messenger-cuadrado:before {
  content: "\e97d";
  
}
.icon-puntos-horizontales:before {
  content: "\e97e";
  
}
.icon-puntos-horizontales-circulo:before {
  content: "\e97f";
  
}
.icon-puntos-horizontales-cuadrado:before {
  content: "\e980";
  
}
.icon-puntos-verticales:before {
  content: "\e981";
  
}
.icon-puntos-verticales-circulo:before {
  content: "\e982";
  
}
.icon-puntos-verticales-cuadrado:before {
  content: "\e983";
  
}
.icon-reloj:before {
  content: "\e984";
  
}
.icon-reloj-circulo:before {
  content: "\e985";
  
}
.icon-reloj-cuadrado:before {
  content: "\e986";
  
}
.icon-salir:before {
  content: "\e987";
  
}
.icon-salir-circulo:before {
  content: "\e988";
  
}
.icon-salir-cuadrado:before {
  content: "\e989";
  
}
.icon-telefono:before {
  content: "\e98a";
  
}
.icon-telefono-circulo:before {
  content: "\e98b";
  
}
.icon-telefono-cuadrado:before {
  content: "\e98c";
  
}
.icon-twitter:before {
  content: "\e98d";
  
}
.icon-twitter-circulo:before {
  content: "\e98e";
  
}
.icon-twitter-cuadrado:before {
  content: "\e98f";
  
}
.icon-ubicacion:before {
  content: "\e990";
  
}
.icon-ubicacion-circulo:before {
  content: "\e991";
  
}
.icon-ubicacion-cuadrado:before {
  content: "\e992";
  
}
.icon-usuario:before {
  content: "\e993";
  
}
.icon-usuario-circulo:before {
  content: "\e994";
  
}
.icon-usuario-cuadrado:before {
  content: "\e995";
  
}
.icon-whatsapp:before {
  content: "\e996";
  
}
.icon-whatsapp-circulo:before {
  content: "\e997";
  
}
.icon-whatsapp-cuadrado:before {
  content: "\e998";
  
}
.icon-youtube:before {
  content: "\e999";
  
}
.icon-youtube-circulo:before {
  content: "\e99a";
  
}
.icon-youtube-cuadrado:before {
  content: "\e99b";
  
}
