/*
Theme Name: Custom theme Inoloop
Theme URI: https://www.inoloop.com
Author: Inoloop
Author URI: https://www.inoloop.com
Description: Custom theme es un tema base creado de forma personalizada.

Version: 1

*/

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-color: #fff;
  /*font-size: 14px;*/
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #515151;
}

p {
  /*font-size: 14px;*/
  font-size: 16px;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;

}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w100 {
  width: 100%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.estrecho{
  width: 80%;
}
.cx {
  justify-content: center;
}
.cy {
  align-items: center;
  align-content: center;
}
.cxb {
  justify-content: space-between;
}
.cxa{
  justify-content: space-around;
}
.cys {
  align-items: flex-start;
  align-content: flex-start;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

strong a{
  color: #35A8E0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea, select {
  background-color: #fff;
  border: 1px solid #aaaaaa;
  padding: 4px;
  border-radius: 4px;
}
#content ul{
  margin-bottom: 10px;
}
#content ul li{
  padding-left: 10px;
  position: relative;
}
.woocommerce-product-details__short-description ul li:before, .woocommerce-Tabs-panel ul li:before,.elementor-text-editor ul li:before{
  content: " ";
  background: #008E51;
  position: absolute;
  width: 6px;
  height: 2px;
  left: 0;
  top: 50%;
}
.dd-container ul li:before{
  display: none;
}
.elementor-editor-active #content ul li{
  padding-left: 0px;
}
.elementor-editor-active  ul li:before{
  display: none;
}

/*Navigation*/
nav .logo {
  line-height: 0;
  display: inline-block;
}

nav .up {
  background: #008E51;
  color: #fff;
  padding: 4px;
}

nav .up form input#search {
  background: #f2f2f2;
  color: #808080;
  border-radius: 15px;
  border: 0;
  padding: 6px;
}

nav .down {
  background: #fff;
  color: #999999;
  position: relative;
  padding: 15px;
}

nav .down .desk .logo{
  height: 70px;
}

nav .down .desk .menu{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

nav .down .desk .navigation, nav .down .desk .navigation .menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .down .desk ul li{
  margin:0 10px;
}
nav .down .desk ul li.button{
  background: #35A8E0;
  padding:10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.sub-menu{
  display: none;
}
.mob {
  display: none;
}
.mob li {
  margin: 10px 0;
  color:#fff;
}
.toggle-m button {
  background: #008E51;
  padding: 4px;
  width: 32px;
  border: none;
  cursor: pointer;
}
.toggle-m span {
  background: #fff;
  height: 2px;
  width: 22px;
  margin: 3px 0;
  display: block;
}
.mob li a:hover {
  color: #DDAC1E;
}
.toggle-m {
  display: none;
}

nav .icon-f-abajo{
  font-size: 6px;
  margin-left: 5px;
}
.etiquetas li.product{
  background: #fff;
}
.etiquetas li.product:hover, .etiquetas li.product:active{
  background: #008E51;
}
.etiquetas .info-producto{
  background: #fff;
  padding: 8px;
    min-height: 100px;
}
.etiquetas .info-producto h2{
    color: #999;
    margin-bottom: 20px;
}
.etiquetas .info-producto .precio{
  margin-top: 10px;
  color: #515151;
}

/*MENU ITEM HESER*/
.navigation .menu-item{
    position: relative;
}
.navigation .menu-item .sub-menu{
  /*display: none;*/
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 180px;
    top: 46px;
    left: 0;
    color: #999999;
    padding: 10px;
}
.navigation .menu-item .sub-menu li{
  width: 100%;
  margin: 15px 0;
}
.navigation .menu-item:hover .sub-menu{
    display: inherit;
}

@media (min-width: 700px) {
    .mob{
        display: none !important;
    }
}
@media (max-width: 700px) {
  nav{
    border: 1px solid #008E51;
  }
  nav .down{
    padding-top: 0;
    background: #008E51;
    padding-bottom:10px;
    border: 1px solid #008E51;
  }

    .navigation .menu-item{
        padding: 5px;
    }
    .navigation .menu-item:hover .sub-menu{
        display: none;
    }
    .navigation .menu-item .sub-menu{
        background-color: #fff;
        width: 100%;
        position: relative !important;
        top: inherit;
        
    }
    .sub-menu-arrow{
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
    }
    .sub-menu-arrow:before{
        display: inline-block;
        transition: all ease 0.3s;
    transform-origin: 50% calc(50%);
    }
    .parent-open-sub-menu ul.sub-menu{
        display: inherit !important;
    }
    .parent-open-sub-menu .sub-menu-arrow:before{
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    /*ANT*/
    .desk {
        display: none;
    }
    .toggle-m {
        display: flex;
        border-radius: 20px;
    }
    .toggle-m img{
      width: 150px;
    }
    .mob {
        width: 100%;
        text-align: center;
    }
    nav .logo img {
        height: 60px;
    }
    .up > div {
        margin-top: 10px;
    }

}
/*MENU ITEM HESER*/
/*Tienda Sidebar*/
.sidebar {
  font-size: 14px;
  padding-top: 15px;
}

.sidebar > div {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
}

.sidebar button#toggleb {
  background: #008E51;
  border: none;
  width: 30px;
  padding: 5px;
  position: fixed;
  height: 30px;
  cursor: pointer;
}

.sidebar .widget-content {
  margin-bottom: 30px;
  width: 100%;
}

.sidebar .widget-content h3 {
  margin-bottom: 10px;
}


.sidebar .product-categories li {
  font-size: 14px;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item {
  position: relative;
  padding-left: 25px;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item a.remove {
  left: 0;
  position: absolute;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item .quantity {
  font-size: 13px;
}

.sidebar .woocommerce-mini-cart__buttons a.button {
  margin-right: 10px;
  margin-bottom: 5px;
}

.sidebar .attachment-woocommerce_thumbnail {
  width: 32px;
  height: auto;
}

main {
  position: relative;
}
.content{
  width: 80%;
  max-width: 850px;
}
.estrecho{
  max-width: 800px;
  width: 100%;

}
.main:active .sidebar > div {
  display: none;
}

.content h1 {
  font-size: 22px;
  color: #008E51;
  margin-top: 20px;
}

.sidebar button {
  display: none;
}

.search-bt {
  background: #008E51;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 15px;
  margin-left: 5px;
}

.sidebar input[type="text"] {
  border-radius: 15px;
  background: #f2f2f2;
  border: 0;
  font-size: 14px;
  padding: 6px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    position: absolute;
    left: 0;
    z-index: 2;
  }
  .sidebar > div {
    display: none;
    background: white;
    box-shadow: 2px 2px 5px #8080804d;
    margin-top: 35px;
    position: fixed;
    height: 100%;
  }

  .sidebar button {
    display: inline-block;
  }
}
.entry-content{
  min-height: 68vh;
}
.woocommerce .tabs li{
  padding-left: 0;
  position: relative;
}
.woocommerce .tabs li:before{
  display: none;
}
.woocommerce .summary form{
  margin-top: 10px;
}
.woocommerce button{
  background: #008E51!important;
  color:#fff!important;
}
.woocommerce .quantity .qty{
  height: 30px;
  border:1px solid #35A8E0;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #35A8E0!important;
  color: #fff;
}

/*Footer*/
footer{
  background: #008E51;
  color: #fff;
}
footer h3{
  margin-top: 0;
}
footer [class^="icon-"], footer [class*=" icon-"]{
  font-size: 32px;
  margin-right: 10px;
}
footer .cpr{
  background: #09683f;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}
footer .logo{
  width: 240px;
}

/*Elementor*/
.elementor .elementor-html5-video{
  object-position: 20% 0px;
}

@media (max-width: 1200px) {
    .titulo-banner h1{
        font-size: 32px !important;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8) !important;
    }
}

@media (max-width: 767px) {
    .banner-wrapper .titulo-banner, .banner-wrapper .banner-button{
        text-align: center !important;
    }
    .banner-wrapper .titulo-banner{
        margin-bottom: 187px !important;
    }
}
.postid-93 .woocommerce-Tabs-panel--description h2{
    display: none;
}